html {
    position: relative;
    min-height: 100%;
}

body {
    background-repeat: repeat-y;
    background-size: cover;
    opacity: 1.0;
    background-color: #dfdfdf!important;
}

.heading-apply {
    padding: 3rem 1.5rem;
    text-align: center;
    color: whitesmoke;
    padding-top: 30px;
}

.heading-apply h5 {
    font-size: 50px;
    position: absolute;
}

main {
    font-family: 'Montserrat', sans-serif;
}

.footer {
    background: #2B333B!important;
    padding: 10px 10px 10px 10px;
    border-radius: 1px 1px 0px 0px;
    box-shadow: 10px 10px 10px 9px #000;
}

.spacer-e {
    padding-bottom: 80px;
}

.navbar {
    font-family: 'Archivo Black', sans-serif;
    opacity: 1.0;
    background-color: #2B333B!important;

}

.spacer-col-1 {
    padding-top: 20px;
}



.head-apply {
    font-size: 25px;
}

.apply-holder {
    padding-left: 30px;

    padding-right: 30px;
}

.white-box {
    background: #fff;
    padding: 25px;
    margin-bottom: 15px;
    box-shadow: 1px 10px 9px #888888;
    border-radius: 5px;
}

.white-box .box-title {
    margin: 0 0 12px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px
}


a {
    text-decoration: none;
}

.r {
    padding-left: 25px;
    padding-top: 10px;

}
