/* General Demo Style */

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
    font-family: 'codropsicons';
    src: url('../fonts/codropsicons/codropsicons.eot');
    src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codropsicons/codropsicons.woff') format('woff'),
    url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
    url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    font-size: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #6f6f6f;
    background: #fff;
}

a {
    color: #888;
    text-decoration: none;
}

a:hover,
a:active {
    color: #333;
}

/* Header Style */

.main,
.container > header {
    margin: 0 auto;
    padding: 2em;
}

.container > header {
    text-align: center;
}

.container > header h1 {
    font-size: 2.625em;
    line-height: 1.3;
    margin: 0;
    font-weight: 300;
}

.container > header span {
    display: block;
    font-size: 60%;
    opacity: 0.5;
    padding: 0 0 0.6em 0.1em;
}

/* To Navigation Style */

.codrops-top {
    background: #fff;
    background: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    width: 100%;
    font-size: 0.69em;
    line-height: 2.2;
}

.codrops-top a {
    padding: 0 1em;
    letter-spacing: 0.1em;
    color: #888;
    display: inline-block;
}

.codrops-top a:hover {
    background: rgba(255, 255, 255, 0.95);
    color: #333;
}

.codrops-top span.right {
    float: right;
}

.codrops-top span.right a {
    float: left;
    display: block;
}

.codrops-icon:before {
    font-family: 'codropsicons';
    margin: 0 4px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
    content: "\e001";
}

.codrops-icon-prev:before {
    content: "\e004";
}

.codrops-icon-archive:before {
    content: "\e002";
}

.codrops-icon-next:before {
    content: "\e000";
}

.codrops-icon-about:before {
    content: "\e003";
}

.container {
    height: 100%;
    position: relative;
}

.container > section {
    margin: 0 auto;
    padding: 5em 3em;
    text-align: center;
    color: #fff;
}

.container > section p {
    position: relative;
    margin: 0;
    padding: 1em;
    z-index: 1;
}

.container > section p.text {
    font-size: 1.4em;
}

.no-touch .note-touch {
    display: none;
}

.color-1 {
    background: #0e83cd;
}

.color-2 {
    background: #f06060;
}

.color-3 {
    background: #fcd04b;
}

.color-4 {
    background: #2ecc71;
}

.color-5 {
    background: #9e54bd;
}

.color-6 {
    background: #4593e3;
}

.color-7 {
    background: #2ac56c;
}

.color-8 {
    background: #ecf0f1;
}

.color-8 p.text {
    color: #aaa;
    font-weight: bold;
}

@media screen and (max-width: 25em) {

    .codrops-icon span {
        display: none;
    }

}
