* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
/* 
CSS and ErrosDocuments by VariusDev 2018
 */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.404-image {
    width: 100%;
    height: auto;
}
a {
	color: #A4A4A4;
}
a:hover {
	color: #D8D8D8;
	text-decoration: underline;
	
}
.content p {
	margin-top: 30px;
	text-decoration: none;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    color: #58666e;
	padding: 20px 30px;
    text-align: center;
	border: 2px solid #A4A4A4;
}
.etx {
	height: 10px;
	
}
